{% extends 'segun_app/base.html' %}

{% load static %}
{% block content %}

    <style>
        .contain {
                width: 40%;
                align:center;
                margin: 100 auto;
                }
    </style>

        <div class="alert alert-info">
            <div class="contain">
                <h3>You've Successfully Uploaded your KYC data, kindly hold on while we verify your account <a href="{% url 'home'%}">Click here to go back home</a></h3>
            </div>
        </div>

{% endblock content %}