{% extends 'segun_app/base.html' %}
{% load static %}

{% block content %}
        <style>
            .contain {
                    width: 40%;
                    align:center;
                    margin: 100 auto;
                    }
        </style>
        <div class="alert alert-info">
            <div class="contain">
                <h3>Hello, please click on this link to verify your mail<a href="https://mail.google.com/mail"> HERE</a></h3>
            </div>
        </div>
{% endblock content %}