{% extends 'segun_app/base.html' %}


{% load static %}

<div id="home">
    <div class="landind-text">
        <h1>BOOTSTRAP</h1>
        <h3>Learn the basic building blocks.</h3>
        <a href="#" class="btn btn-default btn-lg">Get Started</a>
    </div>
</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'segun_app/bootstrap.png' %}">
            </div>
            <div class="col-sm-6 text-center">
                <h2>All about Using Bootstrap.</h2>
                <p class="lead"></p>
                <p class="lead"></p>
            </div>
        </div>
    </div>
</div>


<div class="paddding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4>Built with Sass</h4>
                <p></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="{% static 'segun_app/sass.png' %}" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4>Built with Sass</h4>
                <p></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="{% static 'segun_app/less.png' %}" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div id="fixed">

</div>